:root{
    --white: #fff;
    --black0: #000;
    --orange1: #fca311;
}
.navBar{
    width: 100%;
    height: 30vh;
    position: absolute;
    top: 0;
}
.navBar .navContent{ 
    padding: 2vh 4vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: black;
}
.navBar .navContent .logo{
    padding: 1vh;
}

.navBar .navContent .logo img{
    height: 8vh;
    cursor: pointer;
} 
.navBar .navContent ul{
    display: flex;
    list-style: none;
    gap: 8vh;
    color: var(--white);
}
.navBar .navContent ul li{
    cursor: pointer;
    
}
.navBar .navContent ul li .link{
    text-decoration: none;
    color: white;
}
.navBar .navContent .auth{
    margin-right: 3%;
}
.navBar .navContent .auth .loginBtn{
    padding: 1vh 2vh;
    color: var(--orange1);
    border: solid  1.5px var(--orange1);
    border-radius: 10vh;
    cursor: pointer;
    transition: .2s ease-in-out;
    text-decoration: none;
}
.navBar .navContent .auth .loginBtn:hover{
    color: var(--white);
    border: solid  1.5px var(--white);
}